<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Henrik Fricke</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/CSS/layout/layout.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
  <span class="siteTitle">achterbahnreporter<span>
</header>

<main>
  <a href="#" class="card">
      <div class="inner">
        <h2 class="title">Mit 117 Sachen durch Klugheimschen Basaltgebirge</h2>
        <time class="subtitle">03. März 2021<time>
      </div>
  </a>
        
  <a href="#" class="card card2">
      <div class="inner">
        <h2 class="title">Mit 117 Sachen durch Klugheimschen Basaltgebirge</h2>
        <time class="subtitle">03. März 2021<time>
      </div>
  </a>

  <a href="#" class="card card3">
      <div class="inner">
        <h2 class="title">Mit 117 Sachen durch Klugheimschen Basaltgebirge</h2>
        <time class="subtitle">03. März 2021<time>
      </div>
  </a>
<main>
  
<footer>
  <a class="footerLink" href="/impressum">Datenschutz</a>
  <a class="footerLink" href="/impressum">Impressum</a>
</footer>
<!-- partial -->
  
</body>
</html>
